// --- responsive media queries ---
$media-minimal-width:         360px;

$media-small-breakpoint:      480px;
$media-small-width:           360px;

$media-medium-breakpoint:     768px;
$media-medium-width:          720px;
