<div id="container__users">
  <ul>
      <li class="" ng-repeat="user in users.results track by $index">
        <a ng-href="#details/{{ $index }}">
          <!-- nomer: {{ $index }} -->
            <img ng-src="{{ user.picture.thumbnail }}">
            <p>
              <span class="name">
                {{ user.name.first }} {{ user.name.last }}
              </span>
              <br>
              <span class="city">
                City: {{ user.location.city }}
              </span>
            </p>
        </a>
      </li>
  </ul>
</div>
